


    <!-- PAGE CONTENT
    ============================== -->
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h3 class="header header_plain">"<span style="background-color: #FFFF00">Learn to Elevate</span> your <font color="red">Social</font> and <font color="red">Dating</font> life to a level most men could only Dream of "</h3>
          <p>
            Sed at porta tellus. Sed sit amet ipsum non dolor tincidunt vestibulum eget et urna. In et placerat eros. Curabitur tristique lacinia tortor ut ornare. Proin vehicula rhoncus fermentum. Integer scelerisque aliquam turpis. Quisque pellentesque, sem vel molestie posuere, orci sapien interdum mauris, eget condimentum purus arcu ut augue. 
          </p>
          <p>
            Nunc in neque nec arcu vulputate ullamcorper. Ut id orci ac arcu consectetur fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis hendrerit enim id arcu lacinia, id commodo ante semper. Sed vel ante nec nisi vestibulum congue. Pellentesque non lacus in tortor rutrum tristique.
          </p>
        </br>
                  <%= form_for(@subscriber) do |f| %>
            <%= f.text_field :email %>
            <%= f.submit %>
          <% end %>
        </br>

            </div>


        <div class="col-sm-6">
          <h3 class="header header_plain2">Watch This Introduction</h3>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="//player.vimeo.com/video/67449472?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div> <!-- / .row -->
      <div class="row">
        <div class="col-xs-12"><hr class="hr_lg" /></div>
        <div class="col-sm-6">
          <h3 class="header header_plain">Our Key Skills</h3>

          <!-- Skills chart -->
          <div class="skills">

          </div> <!-- / .skills -->
        </div>
        <div class="col-sm-6">
          <h3 class="header header_plain">Who we are</h3>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Company Goals
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body text-muted">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. 
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Company Philosophy
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body text-muted">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Company Prospects
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body text-muted">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- / .row -->
      <div class="row">
        <div class="col-xs-12">
          <hr class="hr_lg" />
        </div>
      </div> <!-- / .row -->
      <div class="row row_authors">
        <!-- Author #1 -->
        <div class="col-xs-12 col-sm-4">
          <div class="authors__item">
            <div class="authors__img wow flipInY" data-wow-offset>
              <%= image_tag "photo_1.jpg", class:'img-responsive' %>
            </div>
            <div class="authors__content">
              <div class="authors__title">John Doe, Designer</div>
              <div class="authors__intro">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu lacus enim. Aliquam eu elit justo. 
              </div>
              <ul class="authors__contact">
                <li class="facebook">
                  <a href=""><i class="fa fa-facebook"></i></a>
                </li>
                <li class="twitter">
                  <a href=""><i class="fa fa-twitter"></i></a>
                </li>
                <li class="linkedin">
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </li>
                <li class="envelope">
                  <a href=""><i class="fa fa-envelope-o"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Author #2 -->
        <div class="col-xs-12 col-sm-4">
          <div class="authors__item">
            <div class="authors__img wow flipInY" data-wow-delay=".2s">
              <%= image_tag "photo_2.jpg", class:'img-responsive' %>
            </div>
            <div class="authors__content">
              <div class="authors__title">Judy Roe, Designer</div>
              <div class="authors__intro">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu lacus enim. Aliquam eu elit justo. 
              </div>
              <ul class="authors__contact">
                <li class="facebook">
                  <a href=""><i class="fa fa-facebook"></i></a>
                </li>
                <li class="twitter">
                  <a href=""><i class="fa fa-twitter"></i></a>
                </li>
                <li class="linkedin">
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </li>
                <li class="envelope">
                  <a href=""><i class="fa fa-envelope-o"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Author #3 -->
        <div class="col-xs-12 col-sm-4">
          <div class="authors__item">
            <div class="authors__img wow flipInY" data-wow-delay=".4s">
              <%= image_tag "photo_3.jpg", class:'img-responsive' %>
            </div>
            <div class="authors__content">
              <div class="authors__title">Richard Doe, Developer</div>
              <div class="authors__intro">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu lacus enim. Aliquam eu elit justo. 
              </div>
              <ul class="authors__contact">
                <li class="facebook">
                  <a href=""><i class="fa fa-facebook"></i></a>
                </li>
                <li class="twitter">
                  <a href=""><i class="fa fa-twitter"></i></a>
                </li>
                <li class="linkedin">
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </li>
                <li class="envelope">
                  <a href=""><i class="fa fa-envelope-o"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
        <br/>    <br/>    <br/>    <br/>    <br/>